<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.phone">

    <permission
        android:name="com.aware.READ_CONTEXT_DATA"
        android:description="@string/read_permission"
        android:icon="@drawable/ic_launcher_settings"
        android:label="Read AWARE&apos;s Context data"
        android:protectionLevel="signature" />
    <permission
        android:name="com.aware.WRITE_CONTEXT_DATA"
        android:description="@string/write_permission"
        android:icon="@drawable/ic_launcher_settings"
        android:label="Write to AWARE&apos;s Context data"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.aware.READ_CONTEXT_DATA" />
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:icon="@drawable/ic_launcher_aware"
        android:label="AWARE"
        android:theme="@style/Theme.Aware">

        <!-- Activities -->
        <activity
            android:name="com.aware.phone.Aware_Client"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:icon="@drawable/ic_launcher_aware"
            android:label="AWARE"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Aware">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aware.phone.ui.Stream_UI"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@mipmap/ic_launcher_stream"
            android:label="@string/aware_stream"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/Theme.Aware" />
        <activity
            android:name="com.aware.phone.ui.Aware_QRCode"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/aware_studies"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Aware">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aware.phone.Aware_Client" />
        </activity>
        <activity
            android:name="com.aware.phone.ui.Plugins_Manager"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/ic_launcher_settings"
            android:label="@string/aware_plugins"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Aware">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aware.phone.Aware_Client" />
        </activity>
        <activity
            android:name="com.aware.phone.ui.About"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/aware_team"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Aware">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aware.phone.Aware_Client" />
        </activity>
        <activity
            android:name="com.aware.phone.ui.Aware_Join_Study"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Join study"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Aware">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="*"
                    android:pathPattern="/.*index.php/webservice/index/.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/.*index.php/webservice/index/.*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/.*index.php/webservice/index/.*"
                    android:scheme="aware" />
                <data
                    android:host="*"
                    android:pathPattern="/.*index.php/webservice/index/.*"
                    android:scheme="aware-ssl" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aware.phone.Aware_Client" />
        </activity>
        <activity android:name=".ui.Aware_Participant" />

        <receiver
            android:name="com.aware.Aware$AndroidPackageMonitor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.aware.Aware$AwareBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>