<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware">

    <uses-permission android:name="com.aware.READ_CONTEXT_DATA" />
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /><!-- needed for Android 28 P -->

    <!-- Support for Sync Adapters -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Permissions to safeguard data collection quality -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:networkSecurityConfig="@xml/aware_ssl_config"
        android:usesCleartextTraffic="true">

        <!-- Activities -->
        <activity
            android:name="com.aware.ui.ESM_Queue"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:noHistory="true" />

        <activity
            android:name="com.aware.ui.PermissionsHandler"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="standard"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <!-- AWARE account service -->
        <service android:name="com.aware.utils.Aware_Accounts">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/aware_authenticator" />
        </service>

        <!-- Sensor services -->
        <service
            android:name="com.aware.Keyboard"
            android:exported="true" />
        <service
            android:name="com.aware.utils.Scheduler"
            android:exported="true" />
        <service
            android:name="com.aware.Aware"
            android:exported="true" />

        <service
            android:name="com.aware.Aware$JoinStudy"
            android:exported="true" />

        <service
            android:name="com.aware.Applications"
            android:enabled="@bool/accessibility_access"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_GENERIC" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/aware_accessibility_config" />
        </service>

        <service
            android:name="com.aware.Applications$BackgroundService"
            android:exported="true" />
        <service
            android:name="com.aware.Locations"
            android:exported="true" />
        <service
            android:name="com.aware.Bluetooth"
            android:exported="true" />
        <service
            android:name="com.aware.Screen"
            android:exported="true" />
        <service
            android:name="com.aware.Battery"
            android:exported="true" />
        <service
            android:name="com.aware.Network"
            android:exported="true" />
        <service
            android:name="com.aware.Communication"
            android:exported="true" />
        <service
            android:name="com.aware.Processor"
            android:exported="true" />
        <service
            android:name="com.aware.Timezone"
            android:exported="true" />
        <service
            android:name="com.aware.Mqtt"
            android:exported="true" />
        <service
            android:name="com.aware.Traffic"
            android:exported="true" />
        <service
            android:name="com.aware.Accelerometer"
            android:exported="true" />
        <service
            android:name="com.aware.Gyroscope"
            android:exported="true" />
        <service
            android:name="com.aware.WiFi"
            android:exported="true" />
        <service
            android:name="com.aware.WiFi$BackgroundService"
            android:exported="true" />
        <service
            android:name="com.aware.Telephony"
            android:exported="true" />
        <service
            android:name="com.aware.Rotation"
            android:exported="true" />
        <service
            android:name="com.aware.Light"
            android:exported="true" />
        <service
            android:name="com.aware.Proximity"
            android:exported="true" />
        <service
            android:name="com.aware.Magnetometer"
            android:exported="true" />
        <service
            android:name="com.aware.Barometer"
            android:exported="true" />
        <service
            android:name="com.aware.Gravity"
            android:exported="true" />
        <service
            android:name="com.aware.LinearAccelerometer"
            android:exported="true" />
        <service
            android:name="com.aware.Temperature"
            android:exported="true" />
        <service
            android:name="com.aware.ESM"
            android:exported="true" />
        <service
            android:name="com.aware.Installations"
            android:exported="true" />
        <service
            android:name="com.aware.utils.DownloadPluginService"
            android:exported="true" />
        <service
            android:name="com.aware.utils.StudyUtils"
            android:exported="true" />
        <service
            android:name="com.aware.utils.Aware_TTS"
            android:exported="true" />
        <service
            android:name="com.aware.SignificantMotion"
            android:exported="true" />

        <receiver
            android:name="com.aware.Aware$Storage_Broadcaster"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.aware.Aware$AwareBoot"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Core providers -->
        <provider
            android:name="com.aware.providers.Scheduler_Provider"
            android:authorities="${applicationId}.provider.scheduler"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Bluetooth_Provider"
            android:authorities="${applicationId}.provider.bluetooth"
            android:exported="true"
            android:label="@string/sensor_bluetooth"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Applications_Provider"
            android:authorities="${applicationId}.provider.applications"
            android:exported="true"
            android:label="@string/sensor_applications"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Locations_Provider"
            android:authorities="${applicationId}.provider.locations"
            android:exported="true"
            android:label="@string/sensor_locations"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Installations_Provider"
            android:authorities="${applicationId}.provider.installations"
            android:exported="true"
            android:label="@string/sensor_installations"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.ESM_Provider"
            android:authorities="${applicationId}.provider.esm"
            android:exported="true"
            android:label="@string/sensor_esms"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Temperature_Provider"
            android:authorities="${applicationId}.provider.temperature"
            android:exported="true"
            android:label="@string/sensor_temperature"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Linear_Accelerometer_Provider"
            android:authorities="${applicationId}.provider.accelerometer.linear"
            android:exported="true"
            android:label="@string/sensor_linear_accelerometer"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Gravity_Provider"
            android:authorities="${applicationId}.provider.gravity"
            android:exported="true"
            android:label="@string/sensor_gravity"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Barometer_Provider"
            android:authorities="${applicationId}.provider.barometer"
            android:exported="true"
            android:label="Barometer"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Magnetometer_Provider"
            android:authorities="${applicationId}.provider.magnetometer"
            android:exported="true"
            android:label="@string/sensor_magnetometer"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Proximity_Provider"
            android:authorities="${applicationId}.provider.proximity"
            android:exported="true"
            android:label="@string/sensor_proximity"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Light_Provider"
            android:authorities="${applicationId}.provider.light"
            android:exported="true"
            android:label="@string/sensor_light"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Telephony_Provider"
            android:authorities="${applicationId}.provider.telephony"
            android:exported="true"
            android:label="@string/sensor_telephony"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Aware_Provider"
            android:authorities="${applicationId}.provider.aware"
            android:exported="true"
            android:label="@string/sensor_aware"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Rotation_Provider"
            android:authorities="${applicationId}.provider.rotation"
            android:exported="true"
            android:label="@string/sensor_rotation"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.WiFi_Provider"
            android:authorities="${applicationId}.provider.wifi"
            android:exported="true"
            android:label="@string/sensor_wifi"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Accelerometer_Provider"
            android:authorities="${applicationId}.provider.accelerometer"
            android:exported="true"
            android:label="@string/sensor_accelerometer"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Gyroscope_Provider"
            android:authorities="${applicationId}.provider.gyroscope"
            android:exported="true"
            android:label="@string/sensor_gyroscope"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Traffic_Provider"
            android:authorities="${applicationId}.provider.traffic"
            android:exported="true"
            android:label="@string/sensor_traffic"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Mqtt_Provider"
            android:authorities="${applicationId}.provider.mqtt"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Processor_Provider"
            android:authorities="${applicationId}.provider.processor"
            android:exported="true"
            android:label="@string/sensor_processor"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.TimeZone_Provider"
            android:authorities="${applicationId}.provider.timezone"
            android:exported="true"
            android:label="@string/sensor_timezone"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Battery_Provider"
            android:authorities="${applicationId}.provider.battery"
            android:exported="true"
            android:label="@string/sensor_battery"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Screen_Provider"
            android:authorities="${applicationId}.provider.screen"
            android:exported="true"
            android:label="@string/sensor_screen"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Network_Provider"
            android:authorities="${applicationId}.provider.network"
            android:exported="true"
            android:label="@string/sensor_network_usage"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Communication_Provider"
            android:authorities="${applicationId}.provider.communication"
            android:exported="true"
            android:label="@string/sensor_communications"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Keyboard_Provider"
            android:authorities="${applicationId}.provider.keyboard"
            android:exported="true"
            android:label="@string/sensor_keyboard"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Significant_Provider"
            android:authorities="${applicationId}.provider.significant"
            android:exported="true"
            android:label="@string/sensor_significant"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider.storage"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Core Sync-Adapters -->

        <service
            android:name="com.aware.syncadapters.Accelerometer_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_accelerometer" />
        </service>
        <service
            android:name="com.aware.syncadapters.Applications_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_applications" />
        </service>
        <service
            android:name="com.aware.syncadapters.Aware_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_aware_device" />
        </service>
        <service
            android:name="com.aware.syncadapters.Barometer_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_barometer" />
        </service>
        <service
            android:name="com.aware.syncadapters.Battery_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_battery" />
        </service>
        <service
            android:name="com.aware.syncadapters.Bluetooth_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_bluetooth" />
        </service>
        <service
            android:name="com.aware.syncadapters.Communications_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_communications" />
        </service>
        <service
            android:name="com.aware.syncadapters.ESM_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_esms" />
        </service>
        <service
            android:name="com.aware.syncadapters.Gravity_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_gravity" />
        </service>
        <service
            android:name="com.aware.syncadapters.Gyroscope_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_gyroscope" />
        </service>
        <service
            android:name="com.aware.syncadapters.Installations_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_installations" />
        </service>
        <service
            android:name="com.aware.syncadapters.Keyboard_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_keyboard" />
        </service>
        <service
            android:name="com.aware.syncadapters.Light_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_light" />
        </service>
        <service
            android:name="com.aware.syncadapters.LinearAccelerometer_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_linear_accelerometer" />
        </service>
        <service
            android:name="com.aware.syncadapters.Locations_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_locations" />
        </service>
        <service
            android:name="com.aware.syncadapters.Magnetometer_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_magnetometer" />
        </service>
        <service
            android:name="com.aware.syncadapters.Network_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_network" />
        </service>
        <service
            android:name="com.aware.syncadapters.Processor_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_processor" />
        </service>
        <service
            android:name="com.aware.syncadapters.Proximity_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_proximity" />
        </service>
        <service
            android:name="com.aware.syncadapters.Rotation_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_rotation" />
        </service>
        <service
            android:name="com.aware.syncadapters.Screen_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_screen" />
        </service>
        <service
            android:name="com.aware.syncadapters.Significant_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_significant" />
        </service>
        <service
            android:name="com.aware.syncadapters.Telephony_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_telephony" />
        </service>
        <service
            android:name="com.aware.syncadapters.Temperature_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_temperature" />
        </service>
        <service
            android:name="com.aware.syncadapters.Timezone_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_timezones" />
        </service>
        <service
            android:name="com.aware.syncadapters.Traffic_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_traffic" />
        </service>
        <service
            android:name="com.aware.syncadapters.Wifi_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_wifi" />
        </service>
        <service
            android:name="com.aware.Websocket"
            android:exported="true" />

    </application>

</manifest>